<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
        body {
            padding-top: 54px;
        }

        @media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }
    </style>
    <link href="../css/main.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MapsDirections</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="#">MapsFirebase</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div id="myContainer" class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div id="map"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <select v-model="trackerNumber">
                    <option disabled value="">Escolha um item</option>
                    <option v-for='(v,n) in trackers' :value="n">{{v['.key']}}</option>
                </select>
                <select v-model="dateId">
                        <option disabled value="">Escolha um item</option>
                        <option v-for='(v,k,n) in trackers[trackerNumber]' :value="k">{{k}}</option>
                </select>
                <button onclick="refFireFunctions()">Atualizar</button>
                <button onclick="addLatLng(path, 'green')">add linha</button>

                
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th>Hora</th>
                            <th>cordenadas</th>
                            <th>Ignicao</th>
                            <th>Conectado</th>
                            <th>Modo Pessoa</th>
                            <th>Velocidade</th>
                            <th>Satelites</th>
                            <th>Nivel Bateria</th>
                            <th>Proximidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for='(v,k,n) in allDataVm'>
                            <!-- <td>v {{v}}</td> -->
                            <!-- <td>k {{k}}</td> -->
                            <!-- <td>n {{n}}</td> -->


                            <td> {{v.time}}</td>
                            <td>lat:{{v.lat}},lng:{{v.lng}}</td>
                            <td>{{v.ignicao}}</td>
                            <td>{{v.batteryState}}</td>

                            <td>{{v.peopleMode}}</td>
                            <td>{{v.speed}}</td>
                            <td>{{v.satelites}}</td>
                            <td>{{v.batteryLevel}}</td>
                            <td>{{v.accuracy}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/popper/popper.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- <script src="../js/main.js"></script> -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>

    <script src="../js/test.js"></script>

    <script src="../js/mapsFirebase.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvhXkpjn3NIKaTnuL3X_W-IMty4urq2MA&libraries=places&callback=initMap"
        async defer></script>

</body>

</html>